*{
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
body,html {
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

a {
  text-decoration: none;
  color: aliceblue;  
}

nav {
    flex-shrink: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgb(61, 61, 61);
    margin: 0;
    padding: 0;
}

div.nav-button{
    margin-inline-end: 10%;
}

div.nav-title{
    margin-left: 5%;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(112, 112, 112);
}
.short-nav-title { display: none; }

@media (max-width: 435px) {
    .short-nav-title { display: inline-block; }
    .full-nav-title { display: none; }
}

@media (max-height: 500px){}